#dezinfo_check {
    width: 100%;
    height: auto;
    border: 2px solid #d52834;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

#info {
    margin-top: 5px;
    margin-bottom: 5px;
}

#weby_status_show {
    margin-bottom: 5px;
}

.result {
    font-size: 13px;
}

.allowed {
    color: #1a9850;
}

.banned {
    color: #d52834;
}

#weby_credits {
    font-size: 11px;
    font-style: italic;
    margin-top: 3px;
}

#check_button {
  margin: 0 auto;
  background-color: #fddbc7;
  border-radius: 3px;
  border: 1px solid #d52834;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #b2182b;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#check_button:hover,
#check_button:focus {
  background-color: #f4a582;
}

#check_button:focus {
  box-shadow: 0 0 0 4px rgba(253, 219, 199, 1);
}

#check_button:active {
  background-color: #f4a582;
  box-shadow: none;
}

#weby_status_show {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 3px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.15385;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

#weby_status_show:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

#weby_status_show:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

#weby_status_show:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

#weby_status_show:focus {
  outline: 1px transparent;
}

#weby_status_show:before {
  display: none;
}

#weby_status_show:-webkit-details-marker {
  display: none;
}